  <section>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
           
                        <h3>ABOUT US</h3>
                        <li><a href="/about">About SRA</a></li>
                        <li><a href="/why-choose-us">Why Choose Us</a></li>
                        <li><a href="/our-facilities">Our Facilities</a></li>
                        <br>


                        <div class="bottom1">
                            <h3>OUR COURSES</h3>
                            <li><a href="/digital-production">Digital Music Production</a></li>
                            <li><a href="/digital-sound">Digital Sound Engineering</a></li>
                        </div>
                    
                </div>
                <div class="col">
   
                        <h3>ADMISSIONS</h3>
                        <li><a href="/admission">Admissions Requirements</a></li>
                        <li><a href="/register">Register Now</a></li>
                        <li><a href="/faqs">FAQs</a></li>

                        <div class="bottom1">
                            <h3>STUDENTS PORTAL</h3>
                            <li><a href="/login">Student Login</a></li>
                 
                        </div>
                 
                </div>
                <div class="col">
                  <span class="about">
                        <!-- <div class="follow"> -->
                    <!-- <a href="https://www.facebook.com/satiremusicrecords/?ref=bookmarks"><img
                                 class="facebook" src="/assets/img/facebook1.png" alt="facebook"></a>
                              <a href="https://twitter.com/AcademySatire"><img class="twitter"
                                  src="/assets/img/twitter.png" alt="twitter"></a> -->
                       
                        <!-- </div> -->
                        <img src="/assets/img/logo1.png">
                        If you are looking to work in your chosen profession you will need to
                        harness quality education in order to acquire the knowledge and skills
                        needed. Our goal at SatireRecords Academy is to teach our students how
                        to explore the world of sound and transform their passion for music and
                        audio into a dream career while in the process, create music producers
                        & sound engineers who are well prepared for the competitive industry
                        challenges that lies ahead.
                        </span>
               
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                  <span class="copyright">
                   
                        Copyright © 2019 Satire Records Academy<br>
                        The School Of Music Production & Sound Engineering<br>
                        SatireRecords Academy is a subsidiary of <span>  Synergy Creations </span>
                   </span>
                </div>
            </div>
        </div>
    </section>