<h1 class="faqs">Frequently asked questions (FAQs)</h1>
<p>Click on the questions to view the answers.</p>


<div class="container">
  <div class="row">
    <div class="col-sm">
       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/map.png" alt="phone" width="20">
               Where are you located?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>The Academy is located at 116b,Adetola Street Aguda Surulere , Lagos State, Nigeria.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/book3.png" alt="phone" width="20">
               What courses do you offer?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>We offer courses in Digital Music Production and Digital Sound Engineering. We also have short courses on different DAWs like Cubase, Logic Pro, Reason, and FL Studio.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/money.png" alt="phone" width="20">
               <!-- <mat-icon class="mat-18">home</mat-icon> -->
               How much do your courses cost?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>Our Certification Course cost N100,000 while the Advanced Course is N200,000.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/calendar.png" alt="phone" width="20">
               What is the duration of your courses?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>Most of our courses are designed to last 3 months. The length eventually varies if you're combining
             courses.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/certificate.jpg" alt="phone" width="20">
               Will a Certificate be issued when I finish?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>You are empowered with two things when you complete your course. The first is your certificate of
             completion. The second is the skills you have acquired and put to use in recording sessions while taking
             the course, which you can put on your resume as a work experience.</p>
         </mat-expansion-panel>
       </div>
         <div class="panel">
           <mat-expansion-panel>
             <mat-expansion-panel-header>
               <mat-panel-title>
                 <img src="/assets/img/money.png" alt="phone" width="20">
                 Can I pay in installments?
               </mat-panel-title>
             </mat-expansion-panel-header>
             <p>Installment payments are available depending on the course. Call us on 07018964419 to confirm if its
               available to you.</p>
           </mat-expansion-panel>
         </div>
    </div>
    <div class="col-sm">
       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/person.png" alt="phone" width="20">
               How old do i have to be able to attend Satire Records Academy?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>We have trained teenagers and pre-teens. However the approval of a parent or guardian is required to
             register.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/person.png" alt="phone" width="20">
               Can i still apply if I haven't completed high school?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>Yes you can, Music is a universal language.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <mat-icon class="mat-18">home</mat-icon>
               Do you provide accommodation for students?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>Presently, we do not accommodate students.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/hiring.png" alt="phone" width="20">
               Do you guarantee me a job after taking the course?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>No school can guarantee you employment immediately after training. We teach you the technical skills
             you’ll need in the music industry, immerse you in a professional working environment, and give you access
             to industry contacts to network with. More importantly, you start off from day one with your foot in the
             door of a professional recording studio. If you can prove yourself indispensable to their operation during
             your training, there's a very high tendency they will hire you.</p>
         </mat-expansion-panel>
       </div>

       <div class="panel">
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               <img src="/assets/img/person.png" alt="phone" width="20">
                Who are your teachers?
             </mat-panel-title>
           </mat-expansion-panel-header>
           <p>Our tutors are all working professionals with years of experience in the music industry, who do on a daily
             basis what you will be studying at the academy.</p>
         </mat-expansion-panel>
       </div>
              <div class="panel">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <img src="/assets/img/phone1.png" alt="phone" width="20">
                      I'm interested. How do i join?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>To register online<a href="/register"> click here</a>. Call us on 07018964419 if you are in need of
                    more
                    information.</p>
                </mat-expansion-panel>
              </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="reg">
  <div class="row">
    <div class="col">
      <h1>Join Us Today</h1>

      <p>We make this our commitment, to educate our students using the most powerful and affordable tools today while
        following the standard industry practices. We combine this with the efficiency of hands on training from
        experienced tutors.</p>
    </div>

    <div class="col">
      <button mat-raised-button color="accent" routerLink="/register">JOIN NOW</button>
    </div>
  </div>


</div>