.faqs {
  text-align: center;
  margin-top: 5%;
  font-family: Arial Black;
  font-size: 2.5em;
}

p {
  text-align: center;
}

mat-expansion-panel {
  background-color: lightgray;
  font-style: italic;
  margin: 1%;
}

.panel {
  padding: 2%;
}

#reg {
  background-image: url("/assets/img/studentspic.jpg");

  min-height: 250px;
  margin-top: 4%;
}

button {
  /* margin-left: 5%; */
  margin: 10%;
}


h1 {
  color: red;
  font-size: 2em;
  font-family: Arial Black;
  text-align: center;
  margin: 5%;
}