<div class="bgimage">
  <h1 class="head">Digital Sound Engineering</h1>

  <h2 class="home">
    <mat-icon>home</mat-icon>
    > HOME > COURSES > CERTIFICATE COURSES > DIGITAL SOUND ENGINEERING
  </h2>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <span>ADVANCED COURSE</span>
        <h1 class="digital-header">Digital Sound Engineering</h1>
        <p>The Satire Records Digital Sound Engineering Course (DSE) is a non-degree program designed to get applying
          students into the audio engineering field in just 3 months with focus on the foundations of sound engineering.
        </p>

        <p>The course is intensive practically and theoretically to prepare students to become working success stories
          in the commercial sound industry. Students taking this course have the opportunity to learn both the
          technical and creative components of audio recording.</p>


        <button type="button" class="btn btn-dark" routerLink="/register">REGISTER NOW</button>

      </div>
      <div class="col">
        <div class="img-music">
          <img src="/assets/img/sound1.jpg" alt="digital music production">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="card">
    <h1>Area of Focus</h1>
    <div class="card-body">
      <p class="text">Our course modules consist of practical and theory components of the course, covering at least one
        complete subject
        area. Each module progressively builds the student’s skills toward the completion of educational and technical
        skills
        goals for the program. To give you professional insight, students will also take part in production sessions
        involving
        real artists and supervised by the instructors.</p>
    </div>

    <div class="row">
      <div class="col-sm">
        <ul class="list-group">
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Production Techniques – EQ /
            Dynamics</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">MProduction Techniques –
            Effects</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20"> Session Planning /
            Procedures</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Interconnectivity /
            Calibration</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Outboard Processing
            Workshop</span>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group">
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Alignment / Pitch Correction
            Tools</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Recording & Mixing &
            Mastering</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Music Programming Languages</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Outboard Processing
            Workshop</span>
          <span class="arrow"><img src="/assets/img/arrow.png" alt="arrow" width="20">Logic Pro & Cubase</span>
        </ul>
      </div>

    </div>
    <hr>
  </div>
</div>


<div class="container">
  <div class="card">
    <h1>Course Curriculum</h1>
    <div class="row">
      <div class="col-sm">
        <h2>MODULE A</h2>
        <ul class="list-group">
          <h3>Introduction</h3>
          <li>Production Techniques – EQ / Dynamics</li>
          <li>Production Techniques – Effects</li>
          <li>Session Planning / Procedures</li>

          <h3>Audio Engineering Principles:</h3>
          <li>Sound Theory</li>
          <li>Decibels</li>
          <li>Metering</li>

          <h3>Audio Engineering Tools:</h3>
          <li>The Music Production Studio</li>
          <li>EQ</li>
          <li>Dynamic Range Processing</li>
          <li>Effects Processing</li>
          <li>Cabling and Wiring</li>
          <li>Mixing Consoles</li>

          <h3>Digital Audio Workstations</h3>
          <li>Logic Pro</li>
          <li>Cubase</li>
        </ul>
      </div>
      <div class="col-sm">
        <h2>MODULE B</h2>
        <ul class="list-group">
          <h3>Audio Engineering Principles</h3>
          <li>Analogue Audio</li>
          <li>Digital Audio</li>
          <li>Interconnectivity / Calibration</li>
          <li>Sampling</li>
          <li>Acoustics</li>

          <h3>Audio Engineering Tools</h3>
          <li>Studio Consoles</li>
          <li>Microphone Techniques</li>
          <li>Speakers/Studio Monitors</li>
          <li>Outboard Processing Workshop</li>

          <h3>Digital Audio Workstations</h3>
          <li>Logic Pro</li>
          <li>Cubase</li>
        </ul>
      </div>
      <div class="col-sm">
        <h2>MODULE C</h2>
        <ul class="list-group">
          <h3>Audio Engineering Principles</h3>
          <li>Recording & Mixing (workshop/Exercise)</li>
          <li>Mastering</li>

          <h3>Audio Engineering Tools</h3>
          <li>Music Programming Languages</li>
          <li> Alignment / Pitch Correction Tools</li>
          <li>Remixing</li>
          <li>Restoration Tools</li>
          <li>Mastering Tools</li>

          <h3>Digital Audio Workstations</h3>
          <li>Logic Pro</li>
          <li>Cubase</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</div>


<div class="container">
  <div id="bg">
    <h1>Course Details</h1>
    <h2 id="duration">Duration: 3 Months</h2>
    <h2 id="fees">Fees: N200,000</h2>
    <!-- <h3>Weekly Timetable: 3 classes per week</h3>
    <h3>10am - 12pm for morning classes or 12pm - 2pm for aftternoon classes.</h3>
    <h3>*Scheduled Practical Production Sessions run from 10am - 5pm.
    </h3> -->

    <table border="2">
      <tr>
        <th colspan="2">Time Schedule</th>
        <th colspan="4">Month 1</th>
        <th colspan="4">Month 2</th>
        <th colspan="2">Month 3</th>
      </tr>
      <tr>
        <td rowspan="2" class="day">Morning</td>
        <td rowspan="2" class="day">Afternoon </td>
        <td colspan="4">Module 1</td>
        <td colspan="4">Module 2</td>
        <td colspan="2">Module 3</td>
      </tr>

      <tr>
        <!-- <td>Music Production</td>
            <td>Music Production</td> -->
      </tr>

      <tr>
        <td class="time">10am -1pm</td>
        <td class="time">3pm -5pm</td>
        <td>AEC 101</td>
        <td>AEC 101</td>
        <td>AEC 102</td>
        <td>AEC 102</td>
        <td>AEC 201</td>
        <td>AEC 201</td>
        <td>AEC 201</td>
        <td>AEC 202</td>
        <td>AEC 301</td>
        <td>AEC P</td>
      </tr>

      <tr>
        <td class="time">10am -1pm</td>
        <td class="time">2pm -5pm</td>
        <td>AEC 101</td>
        <td>AEC 101</td>
        <td>AEC 102</td>
        <td>AEC 102</td>
        <td>AEC 201</td>
        <td>AEC 201</td>
        <td>AEC 201</td>
        <td>AEC 202</td>
        <td>AEC 301</td>
        <td>AEC P</td>

      </tr>
      <tr>
        <td class="time">Between 10am</td>
        <td class="time">-5pm</td>
        <td>AEC P</td>
        <td>AEC p</td>
        <td>AEC P</td>
        <td>AEC P</td>
        <td>AEC P</td>
        <td>AEC P</td>
        <td>AEC P</td>
        <td>AEC P</td>
        <td colspan="2">AEC   P</td>
      </tr>
    </table>

    <h3>DESCRIPTION: AECP = Audio Engineering Course Practice</h3>
    <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/register">CLICK HERE TO REGISTER
      NOW</button>
    <hr>
  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Course FAQs</h1>
    <h2>Frequently Asked Questions</h2>
    <div class="panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/img/money.png" alt="phone" width="20">
            Can I pay in Installments?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, we offer installment plans for all our courses. To find out about payment options available call
          07018964419</p>
      </mat-expansion-panel>
    </div>

    <div class="panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/img/calendar.png" alt="phone" width="20">
            What is the timetable for this course?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Our courses take up to three modules to complete. Each course module requires your attendance at either the
          morning class (10:00am-12:00pm) or the afternoon classes (12:00pm-2:00pm) per week. Please note classes are
          scheduled before the beginning of each term. Call 07018964419 for details. In addition to classes, students
          are expected to schedule sufficient practice time each week.</p>
      </mat-expansion-panel>
    </div>

    <div class="panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-18">home</mat-icon>
            Do you provide accommodation for students?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Presently, we do not accommodate students.</p>
      </mat-expansion-panel>
    </div>

    <div class="panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/img/monitor.png" alt="phone" width="20">
            What equipment do i need to start this course?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If you have personal laptop, it's welcome but we provide every necessary equipments you need for your music
          production.</p>
      </mat-expansion-panel>
    </div>

    <div class="panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/img/question.png" alt="phone" width="20">
            I have more questions. what do i do?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If you have further questions, please call us on 07018964419.</p>
      </mat-expansion-panel>
    </div>
  </div>
</div>
