<header>
  <h1>Our Facilities</h1>
</header>

<section>
  <!-- -----------------------------------------------------------------------------------------------Div class 1 ------------------------------------------------------------>
  <div class="media">
    <div class="media-hub">
      <h1>Media Ground</h1>

       <p>Our Media Hub, a 10 Seat classroom, contains 5 Intel Desktop Computers and are loaded with Cubase, Reason, FL
         Studio,
         Slate Digital, Waves, and other creative audio production software. There is also extra space that can
         accomodate 5
         Student Laptops. We limited the number of seats available to better our teacher to student ratio and to ensure
         there's
         enough one on one interaction in all classes.
       </p>
    </div>

    <div class="image">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
<img src="/assets/img/studio.jpg">
    </div>
   

    
  </div>
  <!-- -----------------------------------------------------------------------------------------------Div class 2 ------------------------------------------------------------>
  <div class="production-studio">
    <h3>Production Studio</h3>

    <p>
      Our production studio is also equipped with an Intel Mac Mini running the DAWs; Cubase, Reason, FL Studio 12,
      Logic and
      also the Waves, Slate Digital, Native Instruments, Brainworx and many more plugins. The Studio also has a Vocal
      booth
      for recording vocals and instruments. All students have access to our production studio during their training.
    </p>

    <img src="/assets/img/studio.jpg">
    <img src="/assets/img/digital.jpg">
    <img src="/assets/img/digital1.jpeg">
    <img src="/assets/img/digitalsound.jpg">
    <img src="/assets/img/digitalprod.jpg">
    <img src="/assets/img/digitalmusic.jpg">
    <img src="/assets/img/digitalmixing.png">
    <img src="/assets/img/digital1.jpeg">
    <img src="/assets/img/digitalprod.jpg">
    <img src="/assets/img/digital.jpg">
    <img src="/assets/img/studio.jpg">
    <img src="/assets/img/digitalmusic.jpg">
  </div>
  <!-- -----------------------------------------------------------------------------------------------Div class 3 ------------------------------------------------------------>
  <div>

  </div>
</section>