  <header>
    <h1>Why Choose Us</h1>
  </header>
  <section>
    <h3>Why You Should Attend SRA</h3>
    <p>
      If you are looking to work in to your chosen profession you will need to harness quality education in order ton
      acquire
      the knowledge and skills needed. Our goal at SatireRecords Academy is to teach our students how to explore the world
      of
      sound and transform their passion for music and audio into a dream career while in the process, create music
      producers & sound engineers who are well prepared for the competitive industry challenges that lie ahead.
    </p>
    <br>
    <h4>Experienced Instructors</h4>
    <p>
      Our instructors are dedicated to learning about your personal musical goals and helping you achieve them. All of
      our
      instructors have either conservatory or music school training and most have professional performance experience.
      We
      hire instructors that are warm and approachable and are dedicated to helping you develop the style of music that
      you
      want
      to learn.
    </p>
    <br><br><br>
    <h4>Recording Studio</h4>
    <p>
      Satire Records Academy has a fully functional recording studio and this gives us an edge in being able to expose
      students to
      real-world view of production and engineering session life during and after their training.
    </p>
    <br><br><br>
    <h4>Location</h4>
    <p>
      Our school is conveniently located in a quiet residential area at 116a Adetola Street, Aguda-Surulere, Lagos.
    
    </p>
  </section>
  <main>
    <h3 class="main-text">Join Us Today</h3>
    <div>
      <p class="main-field">
        We make this our commitment, to educate our
        <br>
        students using the most powerful and affordable
        <br>
        tools today while following the standard industry
        <br>
        practices. We combine this with the efficiency of <br>
        hands on training from experienced tutors.</p>
    </div>
    <a href="/register">JOIN NOW</a>
  </main>