<div class="container-fluid">
<h1>LOGIN & ACCESS YOUR PROFILE</h1>
<img src="/assets/img/login2.jpg" alt="login icon" width="200">
</div>

<div class="card">


  <h2>Custom Login</h2>

  <span *ngIf="error">{{ error }}</span>
  
  <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email address..." (ngModel)="email" name="email" required>
    </mat-form-field>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Password" (ngModel)="password" name="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" required>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button id="create" type="submit" class="btn btn-primary" [disabled]="!formData.valid"> Login</button>
    </div>
  </form>

  <label>Don't have an account?: <a routerLink="/signup" id="goback">Sign up here</a></label>
</div>