<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
      <div class="img-music">
        <img src="/assets/img/adminpic.jpg" alt="digital music production">
        </div>
         </div>
      <div class="col">
            <h1>Admission Requirements</h1>
            <ol class="list-group">
              <li class="list-item">A working email address.</li>
              <li class="list-item">A working phone number</li>
              <li class="list-item">Music has no language, so everyone can apply no matter your language or origin.</li>
                <li class="list-item">Applicants should be ready to annex musical equipments</li>
            </ol>
      </div>
    </div>
    <hr>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="img-music">
          <img src="/assets/img/studentspic.jpg" alt="digital music production">
        </div>
        <div class="img-stu">
          <img src="/assets/img/studentspic1.jpg" alt="digital music production">
        </div>
      </div>
      <div class="col">
        <h1>Admission Information</h1>
        <ol class="list-group">
          <li class="list-item"><span> Review the Website:</span>
            If you still have questiions after reviewing our website, please do not hesitate to call us on 07018964419 or email us at satirerecordsacademy@gmail.com.</li>
          <li class="list-item"><span> Schedule a Visit:</span>
            You can also call us on 07018964419 or email satirerecordsacademy@gmail.com to schedule a visit. Applying
            students who live far away or outside town and cannot come to the school prior to applying can schedule an
            interview via phone or chat box on our website.</li>
          <li class="list-item"><span> Decision:</span>
            Once you decide to attend Satire Records Academy, all that is left is to pick a date to start training with us.
            It is always advisable to reserve your seat well in advance.</li>
          <li class="list-item"><span> Funding:</span>
            SatireRecords Academy offers payment plans for training programs with duration of 3 months and over. call us on
            07018964419 to discuss terms. </li>
        </ol>
      </div>
    </div>
    <hr>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Registration Process</h1>
                 <ol class="list-group">
                   <li class="list-item"> Register Online or visit the school to register in person.</li>
                   <li class="list-item">Make Payment via Online Bank Transfer or Bank Deposit </li>
                   <h2>Account Name: <span> Satire Records Limited </span></h2>
                  <h2>Account Number: <span> 0429412405 </span></h2>
                  <h2>Bank: <span> Guaranty Trust Bank </span></h2>
                    <br>
                    <h1>OR</h1>
                  <div class="payment">
                       <h2>Account Name: <span> Satire Records Limited </span></h2>
                       <h2>Account Number: <span> 0105471218 </span></h2>
                       <h2>Bank: <span> ACCESS BANK </span></h2>
                  </div>
                   <li class="list-item">Verify Payment & Registration by visiting the School or calling 07018964419
                   </li>
                 </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="reg">
    <div class="row">
      <div class="col">
           <h1>Join Us in NOVEMBER 2019</h1>

           <p>We make this our commitment, to educate our students using the most powerful and affordable tools today
             while
             following the standard industry practices. We combine this with the efficiency of hands on training from
             experienced
             tutors.</p>
      </div>

         <div class="col">
          
           <button mat-raised-button color="accent" routerLink="/register">JOIN NOW</button>
         </div>
    </div>
 

</div>