.container-fluid {
  background-image: url('/assets/img/signup1.png');

  min-height: 350px;
  opacity: 0.7;
}

.card {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  background-color: lightgrey;
  margin-top: 2%;
}

#goback {
    text-align: center;
    font-size: 1em;
}

h2 {
    text-align: center;
    color: red;
}

mat-form-field {
    width: 100%;
}
#create {
    margin-left: 20%;
}

label {
    text-align: center;
}