  <header>
    <h1>About Us</h1>
  </header>
  <section>
    <!------------------------------------------------------- Text-field -1 starts here--------------------------------------------------------------------------- -->
    <div class="text-field-1">
      <img src="/assets/img/book3.png">
      <h2>Mission Statement</h2>
      <p>
        Satire Records Academy was founded for aspiring producers, songwriters, DJs and recording artistes who just want the
        knowledge to take their music production, sound engineering or mixing
        skills to the right level as quickly as possible and with a firm grasp of the production process.
        <br> <br>
        Our Mission is to equip our students with the capacity to prosper, compete and succeed as engineers and
        producers in the music industry by empowering them with the best knowledge and
        skills possible in Music Production and Sound Engineering.
        <br><br>
        We make this our commitment, to educate our students using the most powerful and affordable tools today while
        following the standard industry practices while combining this with the efficiency
        of hands on training from experienced tutors.
      </p>
    </div>

    <!------------------------------------------------------- Text-field -2 starts here--------------------------------------------------------------------------- -->

    <div class=" text-field-2">
      <img src="/assets/img/hiring.png" />
      <h2>Our Objectives</h2>
      <p>
        Whether your goal is to be a pro audio engineer, master the recording process as an artist or producer,
        Satire Records Academy provides the knowledge and experience to make it a reality.
        <br> <br>
        Our objective is to teach our students how to explore the world of sound and transform their passion for music
        and audio into a dream career while in the process, create music producers &
        sound engineers who are well prepared for the competitive industry challenges that lie ahead.
        <br><br>
        Satire Records also has a fully functional recording studio and this gives us an edge in being able to expose
        students to real-world view of production and engineering session life after training.
      </p>
    </div>
    <!------------------------------------------------------- Text-field -3 starts here--------------------------------------------------------------------------- -->
  </section>