.bgimage {
  background-image: url("/assets/img/contact2.jpg");

  min-height: 450px;
  padding: 10%;
  opacity: 0.5;

}

.head {
  text-align: center;
  color: red;
  /* padding: 10%; */
  font-family: Impact;
  font-style: bold;
  font-size: 5em;
}

.home {
  text-align: center;
  color: black;
  font-family: Georgia;
  font-size: 1.2em;
}


h1 {
  margin-top: 2%;
  color: red;
  font-size: 2em;
  font-family: Arial Black;
  text-align: center;
}

.container{
  padding: 5%;
 /* margin: auto; */
}

h2 {
    font-size: 1em;
}

mat-card {
  margin: auto;
  width: 50%;
  margin-top: 5%;
  background-color:lightgray;
}

mat-form-field {
  width: 100%;
}

.contact-us {
  font-size: 3em;
}

button {
  margin-left: 30%;
  
}

p {
  font-size: 1.5em;
  color: brown;
}

#info {
  margin-left: 30%;
}